<div ngbAccordion>
	<div ngbAccordionItem [collapsed]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Informació</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    <p>Benvingut/da a aquesta aplicació dedicada a l'insomni, dissenyada per proporcionar-te un enfocament complet per entendre i abordar aquesta dificultat en el son.</p>
                    <p>En aquesta aplicació, trobaràs informació detallada sobre l'insomni. Et proporcionarem definicions i explicacions clares sobre què és l'insomni i les seves diverses causes. A més, trobaràs consells pràctics i estratègies per millorar la teva higiene del son i promoure hàbits de vida saludables per aconseguir un descans de qualitat. També et presentarem diverses tècniques de relaxació i mindfulness que s'han demostrat efectives per afrontar l'insomni i millorar la qualitat del teu son.</p>
                    <p>Aquí tens l'oportunitat de registrar els teus hàbits diaris relacionats amb el son. Amb aquestes dades, l'aplicació generará un diari personalitzat del teu son, mostrant els patrons d'activitat i son al llarg del temps. Utilitzant aquestes dades, l'aplicació calcularà un percentatge que indica les probabilitats d'insomni, basant-se en una avaluació prèvia incorporada al text. Aquest percentatge et donarà una comprensió immediata del teu estat de son i el potencial d'insomni.</p>
                    <p>A més a més, pots accedir als detalls de les teves respostes cada dia i també obtenir una visió global de les teves respostes al llarg de la setmana. Això facilita la identificació de patrons i canvis en els teus hàbits de son.</p>
					<p>És essencial comprendre que aquesta aplicació no reemplaça un diagnòstic mèdic professional i no és un substitut de l'avaluació i el tractament d'un metge o un professional de la salut.
					</p>
                    <p>Esperem que aquesta aplicació sigui una eina útil per a millorar la teva qualitat de son i benestar general. Estem aquí per acompanyar-te en aquest camí cap a un son més reparador i revitalitzant.</p>
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Precaucions importants</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                   <p>Si experimentes dificultats greus amb el son, canvis significatius en els teus hàbits de son o qualsevol altre problema de salut, et recomanem encaridament que busquis atenció mèdica qualificada. L'aplicació està destinada a proporcionar informació general i orientació, i no ha de ser utilitzada com a única font d'avaluació o diagnòstic.</p>
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Privadesa i dades</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                  <p>Entenem la importància de la privadesa i la seguretat de les teves dades. Totes les dades que proporciones a l'aplicació es guarden exclusivament en el teu dispositiu i no es comparteixen amb tercers. Respectem la confidencialitat i assegurem que les teves dades personals siguin protegides.</p>
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Percentatge</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    <p>El percentatge que podràs veure  es calcula mitjançant un test contingut en el llibre 'Combatir el insomnio', el qual ha estat elaborat pels doctors Bobes García, J., Gonzalez G-Portilla, M. P., Saíz Martínez, P. A., Bascarán Fernéndez, M. T.; Iglesias Álvarez, C., Fernández Domínguez, J. M.</p>
                    <p>No obstant això, és important destacar que aquest percentatge no serà visible fins 30 dies després de recopilar les teves dades. Aquest temps és necessari per a assegurar que hi hagi suficients dades per a proporcionar un resultat fiable i precís.</p>
                    <p>Cal tenir en compte que aquest percentatge no substitueix de cap manera un diagnòstic professional d'un metge. És important que consultis un professional de la salut per a una avaluació completa i precisa. L'aplicació proporciona recomanacions basades en les teves dades, però sempre és aconsellable buscar orientació mèdica per a qualsevol preocupació sobre la teva salut.</p>
                    <p>Aquesta informació és una eina per a millorar la teva comprensió de la teva situació, però mai ha de substituir el consell o diagnòstic d'un professional de la salut.</p>
				</ng-template>
			</div>
		</div>
	</div>

</div>