<div ngbAccordion>
	<div ngbAccordionItem [collapsed]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Insomni</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					<p>QUÈ ÉS L'INSOMNI</p>
                    <p>L'insomni és un trastorn del son caracteritzat per la dificultat persistent per iniciar o mantenir el son, o per experimentar un descans de mala qualitat durant la nit. Les persones amb insomni poden tenir dificultats per conciliar el son, despertar-se sovint durant la nit i tenir dificultats per tornar a adormir-se, o despertar-se massa aviat al matí. Això pot conduir a una sensació de no haver descansat adequadament i a una disminució de l'energia, el benestar i el rendiment durant el dia.
                    </p>
                    <p>CAUSES DE L'INSOMNI</p>
                    <p>Factors psicològics i emocionals:</p>
                    <ul> 
                        <li>Estrès i ansietat: Els problemes emocionals com l'estrès i l'ansietat són una de les causes més freqüents d'insomni. Preocupacions, tensions laborals, problemes personals o altres factors estressants poden interferir en la capacitat de relaxar-se i dormir bé. 
                        <li>Depressió: Les persones amb depressió sovint experimenten dificultats per conciliar el son o mantenir-lo. Aquests problemes poden estar vinculats a desequilibris químics al cervell.</li>
                     </ul>
                    <p>Factors fisiològics:</p>
                    <ul>
                        <li>Dolor crònic: El dolor constant o intermitent a causa de condicions com l'artritis, migranyes o altres trastorns crònics pot fer difícil conciliar el son.</li>
                        <li>Desordres hormonals: Desajustos hormonals associats a condicions com la menopausa o la hipertiroidisme poden afectar la qualitat del son.</li>
                        <li>Problemes de salut: Malalties com Parkinson, la reflux àcid gastroesofàgica, l'asma entre d’altres, poden interrompre el son.</li>
                    </ul>
                    <p>Estil de vida i hàbits de son:</p>
                    <ul>
                        <li>Una mala higiena del son pot provocar problemes del son.</li>
                    </ul>
                    

 
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>
				<span>&#9733; <b>Fancy</b> title &#9733;</span>
			</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem [disabled]="true">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Disabled</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
</div>
