<div ngbAccordion>
	<div ngbAccordionItem [collapsed]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Què és l'insomni?</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    <p>L'insomni és un trastorn del son caracteritzat per la dificultat persistent per iniciar o mantenir el son, o per experimentar un descans de mala qualitat durant la nit. Les persones amb insomni poden tenir dificultats per conciliar el son, despertar-se sovint durant la nit i tenir dificultats per tornar a adormir-se, o despertar-se massa aviat al matí. Això pot conduir a una sensació de no haver descansat adequadament i a una disminució de l'energia, el benestar i el rendiment durant el dia.
                    </p>
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Causes de l'insomni</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    <p>Factors psicològics i emocionals:</p>
                    <ul> 
                        <li>Estrès i ansietat: Els problemes emocionals com l'estrès i l'ansietat són una de les causes més freqüents d'insomni. Preocupacions, tensions laborals, problemes personals o altres factors estressants poden interferir en la capacitat de relaxar-se i dormir bé. 
                        <li>Depressió: Les persones amb depressió sovint experimenten dificultats per conciliar el son o mantenir-lo. Aquests problemes poden estar vinculats a desequilibris químics al cervell.</li>
                     </ul>
                    <p>Factors fisiològics:</p>
                    <ul>
                        <li>Dolor crònic: El dolor constant o intermitent a causa de condicions com l'artritis, migranyes o altres trastorns crònics pot fer difícil conciliar el son.</li>
                        <li>Desordres hormonals: Desajustos hormonals associats a condicions com la menopausa o la hipertiroidisme poden afectar la qualitat del son.</li>
                        <li>Problemes de salut: Malalties com Parkinson, la reflux àcid gastroesofàgica, l'asma entre d’altres, poden interrompre el son.</li>
                    </ul>
                    <p>Estil de vida i hàbits de son:</p>
                    <ul>
                        <li>Una mala higiena del son pot provocar problemes del son.</li>
                    </ul>
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Conseqüències de l'insomni</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    <ul>
                        <li>Fatiga i manca d'energia: Les persones amb insomni sovint es desperten sense haver tingut un son reparador, la qual cosa pot provocar una sensació constant de fatiga i falta d'energia durant el dia.</li>
                        <li>Problemes de concentració i memòria: La falta de son adequat pot afectar la capacitat de concentració, la memòria i la capacitat per processar informació, el que pot afectar negativament el rendiment en tasques quotidianes i professionals.</li>
                        <li>Disminució del rendiment laboral o escolar: L'insomni pot influir en el rendiment laboral o escolar d'una persona, ja que pot provocar dificultats per complir amb les responsabilitats i les expectatives.</li>
                        <li>Canvis en l’estat d'ànim: Les persones amb insomni poden experimentar canvis en l'estat d'ànim, com irritabilitat, ansietat, depressió i fins i tot un augment del risc de desenvolupar trastorns de l'estat d'ànim.</li>
                        <li>Increment de l'ansietat: L'ansietat pot augmentar en les persones amb insomni, ja que la preocupació sobre la manca de son i les conseqüències que això pot tenir en la seva vida pot agreujar el problema.</li>
                        <li>Augment del risc de malalties: L'insomni crònic s'ha relacionat amb un major risc de desenvolupar problemes de salut com malalties cardiovasculars, diabetis, obesitat i altres trastorns crònics.</li>
                        <li>Dificultats en les relacions interpersonals: La manca de son pot afectar l'humor i la paciència, la qual cosa pot generar tensions i dificultats en les relacions familiars, socials i laborals.</li>
                        <li>Disfuncions sexuals: L'insomni pot afectar la salut sexual, provocant disfuncions sexuals com la manca de desig i la dificultat per mantenir una erecció o arribar a l'orgasme.</li>
                        <li>Increment del risc d'accidents: La fatiga i la disminució de la concentració poden augmentar el risc d'accidents, ja sigui en la conducció, en l'ús de maquinària o en altres activitats que requereixin atenció i reacció ràpida.</li>
                    </ul>
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Higiena del son</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                   <p>L’higiena del son és el conjunt de pràctiques que ajuden a cuidar la qualitat del son i prevenir desajustos en els horaris, la qualitat del repòs.... És a dir, implica prendre consciència de quines actituds o rutines són beneficioses i quines són perjudicials pel son.</p>
                   <ul>
                    <li>Mantenir un horari regular de dormir i aixecar-se: Seguir una rutina regular de son ajuda a sincronitzar el teu rellotge biològic intern, facilitant el descans més profund.</li>
                    <li>Crear un ambient de dormitori agradable: Un dormitori acollidor i còmode pot afavorir una associació positiva amb el son. Colors tranquil·litzadors, il·luminació suau i ordre són factors importants</li>
                    <li>Limitar l'exposició a pantalles: Evitar dispositius electrònics abans de dormir ja que emeten llum blava que pot interferir amb la producció de melatonina.</li>
                    <li>Evitar estimulants: Limitar la cafeïna i nicotina, ja que són estimulants que poden dificultar l'adormiment.</li>
                    <li>Reservar el llit només per dormir: Associar el llit exclusivament amb el son i activitats íntimes millora l'associació positiva amb el descans.</li>
                    <li>Fomentar l'exercici físic regular: L'exercici moderat pot millorar la qualitat del son i afavorir la fatiga física saludable.</li>
                    <li>Seguir una rutina de preparació per al son: Establir una sèrie d'activitats tranquil·les abans de dormir ajuda a preparar el cos i la ment per al repòs.</li>
                    <li>Regularitzar l'exposició a la llum natural: L'exposició a la llum natural durant el dia ajuda a regular el ritme circadià, afavorint una millor conciliació del son.</li>
                    <li>Evitar menjar abundant Abans de Dormir: Sopar lleuger almenys dues hores abans d'anar a dormir, evitant menjars pesats i àcids que puguin causar molèsties.</li>
                    <li>Evitar llargs períodes de repòs durant el dia: Dormir excessivament durant el dia pot desregular el patró de son i vigília, provocant somnolència diürna excessiva.</li>
                   </ul>
				</ng-template>
			</div>
		</div>
	</div>
    <div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Tècniques de relaxació</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    <p>Les tècniques de relaxació són mètodes i pràctiques dissenyades per induir una sensació de relaxació i calma tant a nivell físic com mental. Aquestes tècniques es fonamenten en l'ús conscient d'estratègies que ajuden a reduir l'activitat del sistema nerviós simpàtic, que està associat a l'ansietat i l'estrès. Mitjançant aquestes pràctiques, es promou un estat de relaxació que pot ser beneficiós per a diverses àrees de la salut, incloent l'insomni.</p>
                    <p>RELAXACIÓ MUSCULAR PROGRESSIVA</p>
                    <p>Aquesta tècnica es basa en la idea que quan els músculs estan relaxats, la ment també pot relaxar-se. Implica la progressiva tensió i relaxació deliberada de diversos grups musculars per així augmentar la consciència corporal, permetent identificar i alliberar la tensió acumulada al cos. Aquesta relaxació pot ajudar a reduir l'activitat fisiològica i mental que podria estar contribuint a l'insomni. A més, la relaxació múscul per múscul ajuda a alliberar les tensions i a disminuir la estimulació mental, creant un entorn més favorable per al son.</p>
                    <ul>
                        <li>1r Comença amb una zona, com el peu dret.Tensa aquesta zona tan fort com puguis durant uns 5-10 segons, sense arribar a sentir dolor o incomoditat.</li>
                        <li>2n Deixa anar la tensió sobtadament. </li>
                        <li>3r Observa com es produeix una sensació de relaxació en aquesta part del cos.</li>
                        <li>4t Passats uns 20 segons, repeteix el mateix procediment amb una altra zona del cos. Es recomana seguir una seqüència, des dels peus fins al cap.</li>
                    </ul>
                    <p></p>
                    <p>VISUALITZACIÓ</p>
                    <p>La tècnica de visualització, és una pràctica que implica crear i experimentar mentalment imatges vívides i relaxants. Aquesta tècnica es basa en la idea que la ment i el cos estan connectats, i que utilitzar imatges mentals positives pot tenir un impacte positiu en l'estat emocional i físic. </p>
                    <ul>
                        <li>1r Visualitza una escena relaxant i pacífica, com una platja o un bosc. Imatgina tots els detalls amb tots els sentits: les vistes, els sons, els olors i les sensacions tàctils.</li>
                        <li>2n Imagina't en aquest lloc, realitzant les activitats pertinents.</li>
                        <li>3r Focalitza't en les sensacions positives que s'estan experimentant durant aquesta visualització.</li>
                    </ul>
                    <p></p>
                    <p>RESPIRACIÓ PROFUNDA</p>
                    <p>La respiració profunda, també coneguda com a respiració diafragmàtica o abdominal, és una tècnica de respiració que implica inhalacions profundes i controlades mitjançant la dilatació del diafragma, el múscul que separa els pulmons de l'abdomen. Aquest tipus de respiració és diferent de la respiració superficial i més ràpida que sovint tenim quan estem nerviosos o ansiosos.</p>
                    <ul>
                        <li>1r Col·loca una mà sobre el pit i l'altra a prop del melic, sobre l'abdomen.</li>
                        <li>2n Inspira lentament pel nas, assegurant que l'aire entra profundament fins a fer que l'abdomen es dilati i les costelles inferiors es moguin lleugerament cap a l'exterior. Intenta que la part superior del pit es mogui el menys possible.</li>
                        <li>3r Exhala lentament per la boca, alliberant l'aire de manera controlada. Notaràs com l'abdomen es contrau suament i el cos es relaxa.</li>
                        <li>4t Mantén un ritme regular i constant de respiració, sense forçar-la.</li>
                    </ul>
                    <p></p>
                    <p>MEDITACIÓ DE CONSIÈNCIA PLENA</p>
                    <p>La meditació de consciència plena pot ser útil per calmar la ment i reduir l'ansietat que pot interferir amb el son. Al practicar aquest tipus de meditació, es pot fomentar una relació més saludable amb els pensaments i les emocions, la qual cosa pot contribuir a millorar la qualitat del son i afavorir un estat mental més relaxat abans de dormir.
                        L'objectiu principal de la meditació de consciència plena és desenvolupar una atenció plena i una consciència clara del moment present.</p>
                    <ul>
                        <li>1r Asseu-te amb l'esquena recta i les mans sobre els genolls. Els palmells poden estar cap amunt o cap avall, segons la teva preferència.</li>
                        <li>2n Comença prestant atenció a la teva respiració, observant com l'aire entra i surt del teu cos</li>
                        <li>3r Seguidament, observa els pensaments que puguin aparèixer, sense jutjar-los ni intentar allunyar-los, només reconeix-los.</li>
                        <li>4t Durant aquest procés, mantingues la consciència sobre les diferents parts del teu cos, des del cap fins als peus. Si notes alguna tensió o molèstia, simplement observa aquestes sensacions sense jutjar-les.</li>
                        <li>5è En acabar, obre els ulls amb suavitat i pren uns moments per tornar a connectar amb l'entorn que t'envolta.</li>
                        <li>6è Pots començar amb sessions de 5 o 10 minuts al principi i, a mesura que et sentis més còmode, augmentar progressivament la durada de la pràctica.</li>
                    </ul>

        

				</ng-template>
			</div>
		</div>
	</div>

</div>