<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">No Insomni</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/inici" (click)="isMenuCollapsed = true">Inici</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="/nou-dia" (click)="isMenuCollapsed = true">Nou dia</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="/info" (click)="isMenuCollapsed = true">Més informació</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="/sobre-app" (click)="isMenuCollapsed = true">Sobre l'app</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
